# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Package/build artifacts
*.egg-info/
*.egg
dist/
build/

# venvs
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/
.hather_env/   

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Testing
htmlcov/
.coverage
.pytest_cache/

# datasets and examples
dataset_examples/
ex_code/

# plots 
langchein/outputs/

inference_auth_token.py
